{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Something went wrong!{% endblock %}

{% block body %}
    <h1>Something went wrong</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        <a href="{{ path('index') }}">return to the homepage</a>.
    </p>
{% endblock %}