{% extends "base.html.twig" %}

{% block body %}
    <h1>Welcome to Catalog</h1>
    <div>
        <a href="{{ path('login') }}">Log in</a>
    </div>
    <div>
        <a href="{{ path('register') }}">Register</a>
    </div>
{% endblock %}