{% extends "base.html.twig" %}

{% block body %}
    <h1>Welcome to my course project</h1>
    <div>
        <a href="#">
            Login
        </a>
    </div>
    <div>
        <a href="#">
            Register
        </a>
    </div>
{% endblock %}
