{% extends "base.html.twig" %}

{% block body %}
    <div>
        <h1>Password recovery</h1>
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div>
                {{ flash_message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}